<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find a_star)/worlds/map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <!-- <node name="robot_talker" pkg="a_star" type="scripts/a_star_phase_2_part_1.py" output="screen" /> -->

  <!-- Launch the node with arguments -->
  <node name="a_star" pkg="a_star" type="a_star_phase_2_part_2.py" output="screen" >
   
    <param name="~clearance" type="double" value="$(arg clearance)" />
    <param name="~x_pos" type="double" value= '$(arg x_pos)' />
    <param name="~y_pos" type="double" value='$(arg y_pos)' />
    <param name="~start_theta" type="double" value="$(arg start_theta)" />
    <param name="~goal_x_pos" type="double" value="$(arg goal_x_pos)" />
    <param name="~goal_y_pos" type="double" value="$(arg goal_y_pos)" />
    <param name="~rpm1" type="double" value="$(arg rpm1)" />
    <param name="~rpm2" type="double" value="$(arg rpm2)" />
  </node>
</launch>